.navbar-brand {
    font-size: 30px;
}
.nav-link {
    color: white !important;
    font-size: 20px;
    margin-left: 25px !important;
}

.nav-link:hover {
    transition: 0.3s;
    color: tomato !important;
}

.logout-btn {
    font-size: 20px;
    margin-left: 50px;
}